<p id="notice"><%= notice %></p>

<p>
  <strong>First Name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>Address:</strong>
  <%= @author.additional_info.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @author.additional_info.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.additional_info.email %>
</p>

<p>
 The password is hidden
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>