<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @author.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @author.body %>
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>