

<p>
  <strong>First Name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @author.last_name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @author.username %>
</p>

<p>
  <strong>Address:</strong>
  <%= @author.additional_info.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @author.additional_info.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @author.additional_info.email %>
</p>

<p align="center">
  <strong>Books:</strong>
</p>
  <table align="center" width="400">
  
  <thead>
    <tr>
      <th align="left">Title:</th>
      <th align="left">Subject:</th>
      <th align="left">Year:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% @author.books.each do |book| %>
  <tr>
  <td><%= book.title %></td>
  <td><%= book.subject %></td>
  <td><%= book.year %></td>
  </tr>
  <% end %>
  </tbody>
</table>


<p>
 The password is hidden
</p>

<%= link_to 'Edit', edit_author_path(@author) %> |
<%= link_to 'Back', authors_path %>